.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    text-align: center;
    flex-direction: row;
}
.login-card{
    width: 25rem;
    /* height: 25rem; */
    padding: 1rem;
    border: 1px solid #ccc;
}

.bottom-card{
width: 25rem;
margin-top: 1rem;
padding: 1rem;
border: 1px solid #ccc;
}

.carbg{
    background-image: url("../assets/insta-mob-bg.png");;
    background-size: cover;
    height: 590px;
    width: 441px;
    position: relative;
}
.car{
    height: 423px;
    width: 241px;
    position: absolute;
    top: 93px;
    left: 143px;
    /* z-index: 1; */
}

@media  only screen and (max-width: 500px) {
    .login-card{
        width: 100%;

    }
    .bottom-card{
        width: 100%;
    }
}