.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    text-align: center;
    flex-direction: row;
}
.login-card{
    width: 25rem;
    height: 18rem;
    padding: 1rem;
    border: 1px solid #ccc;
}

.bottom-card{
width: 25rem;
margin-top: 1rem;
padding: 1rem;
border: 1px solid #ccc;
}

.insta-mob-bg{
    background-image: url("../assets/insta-mob-bg.png");
    height: 618px;
    width: 454PX;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel{
    position: absolute;
    height: auto; 
    top: 50px;
    left: 22px;
}
.set{
    height: auto;
    position: absolute;
    width: 15.4rem;
    right: 6.5rem;
    /* top: -1.2rem; */
}

@media  only screen and (max-width: 500px) {
    .login-card{
        width: 100%;

    }
    .bottom-card{
        width: 100%;
    }
} 